# public/.htaccess
<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Redirige toutes les requêtes vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>